{% load static %}
<!-- HEADER -->
<header role="banner">
    <!-- Top Bar -->
    <div class="top-bar background-white">
        <div class="line">
            <div class="s-12 m-6 l-6">
                <div class="top-bar-contact">
                    <p class="text-size-12">Contact Us: 0800 200 200 | <a class="text-orange-hover"
                                                                          href="mailto:contact@sampledomain.com">contact@sampledomain.com</a>
                    </p>
                </div>
            </div>
            <div class="s-12 m-6 l-6">
                <div class="right">
                    <ul class="top-bar-social right">
                        <li><a href="/"><i class="icon-facebook_circle text-orange-hover"></i></a></li>
                        <li><a href="/"><i class="icon-twitter_circle text-orange-hover"></i></a></li>
                        <li><a href="/"><i class="icon-google_plus_circle text-orange-hover"></i></a></li>
                        <li><a href="/"><i class="icon-instagram_circle text-orange-hover"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Navigation -->
    <nav class="background-white background-primary-hightlight">
        <div class="line">
            <div class="s-12 l-2">
                <a href="index.html" class="logo"><img src="{% static 'img/logo-free.png' %}" alt=""></a>
            </div>
            <div class="top-nav s-12 l-10">
                <p class="nav-text"></p>
                <ul class="right chevron">
                    <li><a href="/home">Anasayfa</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a>Categories</a>

                        <ul>
                            {% load mptt_tags %}
                            {% recursetree category %}
                                <li>
                                    <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul>
                                            <li> {{ children }} </li>
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}
                        </ul>

                    </li>
                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/referanslar">Referanslar</a></li>
                    <li><a href="/iletisim">İletişim</a></li>
                    <li>
                        <form action="/search/" class="form-inline" method="post">
                            {% csrf_token %}
                            <input name="query" class="form-control mr-sm-1" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>