{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ product.company }} {% endblock %}
{% block keywords %} {{ product.keywords }}{% endblock %}
{% block description %} {{ product.description }}{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.css' %}">

    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing-1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo-1.4.3.1-min.js' %}"></script>
    <script src="{% static 'assets/js/shop.js' %}"></script>
{% endblock %}
{% block content %}


    <div class="background-primary padding text-center"><h2
            class="headline text-thin text-s-size-30">{{ product.title }} Detay</h2></div>
    <div class="container">


        <div class="well well-small">
            <div class="row-fluid">
                <div class="span5">
                    <div id="myCarousel" class="carousel slide cntr">
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="#"> <img src="{{ product.image.url }}" alt=""
                                                  style="width:100% ; height: 300px"></a>
                            </div>
                            {% for rs in images %}
                                <div class="item">
                                    <a href="#"> <img src="{{ rs.image.url }}" alt="" style="width:100%; height: 300px"></a>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                </div>
                <div class="span7">
                    <h3>{{ product.title }}</h3>
                    <hr class="soft">


                        <div class="control-group">
                            <label class="control-label"><span>$140.00</span></label>
                            <div class="controls">
                                <input type="number" class="span6" placeholder="Qty.">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>Color</span></label>
                            <div class="controls">
                                <select class="span11">
                                    <option>Red</option>
                                    <option>Purple</option>
                                    <option>Pink</option>
                                    <option>Red</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>Materials</span></label>
                            <div class="controls">
                                <select class="span11">
                                    <option>Material 1</option>
                                    <option>Material 2</option>
                                    <option>Material 3</option>
                                    <option>Material 4</option>
                                </select>
                            </div>
                        </div>
                        <form action="/application/addapplication/{{ product.id }}" method="post">
                            {% csrf_token %}

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <div class="form-group">
                                <label for="exampleFormControlTextarea1"><b>CV</b></label>
                                <textarea class="form-control" name="cv" id="id_cv" rows="3"></textarea>
                            </div>

                            {% if user.id is not None %}
                                <button type="submit" class="btn btn-success"><span class=" icon"></span> İşe Başvur!
                                </button>
                            {% else %}
                                İşe Başvurmak İçin Giriş Yapınız!
                            {% endif %}

                        </form>
                        </p>
                        <h4>100 items in stock</h4>
                        <p>{{ product.description | safe }}
                        </p>
                        <p>

                </div>
            </div>
            <hr class="softn clr">


            <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">İlan Detayları</a></li>
                <li class=""><a href="#profile" data-toggle="tab">İlan Yorumları </a></li>
            </ul>
            <div id="myTabContent" class="tab-content tabWrapper">
                <div class="tab-pane fade active in" id="home">
                    <h4>Product Information</h4>
                    <table class="table table-striped">
                        <tbody>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Color:</td>
                            <td class="techSpecTD2">Black</td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Style:</td>
                            <td class="techSpecTD2">Apparel,Sports</td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Season:</td>
                            <td class="techSpecTD2">spring/summer</td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Usage:</td>
                            <td class="techSpecTD2">fitness</td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Sport:</td>
                            <td class="techSpecTD2">122855031</td>
                        </tr>
                        <tr class="techSpecRow">
                            <td class="techSpecTD1">Brand:</td>
                            <td class="techSpecTD2">Shock Absorber</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>{{ product.detail |safe}}</p>

                </div>
                <div class="tab-pane fade" id="profile">
                    <div class="row-fluid">
                        <div class="span2">
                            <img src="assets/img/d.jpg" alt="">
                        </div>
                        <div class="span6">
                            <form class="" action="/product/addcomment/{{ product.id }}" method="post">
                                {% csrf_token %}

                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"><b>Subject</b></label>
                                    <input class="form-control" name="subject" id="id_subject" type="text"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"><b>Comment</b></label>
                                    <textarea class="form-control" name="comment" id="id_comment" rows="3"></textarea>
                                </div>
                                {% if user.id is not None %}
                                    <button class="defaultBtn" type="submit">Yorum Yap</button>
                                {% else %}
                                    Yorum Eklemek İçin Giriş Yapınız!
                                {% endif %}
                            </form>
                        </div>

                    </div>
                    <hr class="soft">

                    {% for rs in comments %}
                        <div class="row-fluid">
                            <div class="span2">
                                <img src="assets/img/d.jpg" alt="">
                            </div>
                            <div class="span6">
                                <h4>Yazan: <i>{{ rs.user.first_name }}</i></h4><h4>Konu: <i>{{ rs.subject }}</i></h4>
                                <p>
                                    {{ rs.comment }}..
                                </p>
                            </div>
                            <div class="span4 alignR">
                                <form class="form-horizontal qtyFrm">

                                    <h5><i>{{ rs.create_at }}</i></h5>
                                </form>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
            <hr class="soften">

        </div>
    </div>

{% endblock %}