<div class="s-12 m-12 l-4">
    <h2 class="text-uppercase text-strong margin-bottom-30">User Panel</h2><hr style="color: green ; border:1px solid">
    <h4><b><a class="text-more-info text-primary-hover" href="/user">User Profile</a></b></h4>
    <h4><b><a class="text-more-info text-primary-hover" href="/">My Orders</a></b></h4>
    <h4><b><a class="text-more-info text-primary-hover" href="/">My Comments</a></b></h4>
    <h4><b><a class="text-more-info text-primary-hover" href="/">My Products</a></b></h4>
    <h4><b><a class="text-more-info text-primary-hover" href="/logout">Logout</a></b></h4>

</div>